.changePw-wrap{box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05); width: 700px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.changePw-wrap .changePw-box{padding: 40px 30px 30px; box-sizing: border-box; background: #fff; border-radius: 10px;}

.changePw-wrap .titleBox{margin-bottom: 32px; text-align: center;}
.changePw-wrap .titleBox div{margin-bottom: 20px;}
.changePw-wrap .titleBox div img {max-width: 48px; width: 100%;}
.changePw-wrap .titleBox strong{color: #222; font-size: 32px; font-weight: 700; line-height: 1.4; letter-spacing: -0.96px; display: block; margin-bottom: 4px;}
.changePw-wrap .titleBox span{display: block; font-weight: 400; font-size: 16px; line-height: 1.4; color: #434343; letter-spacing: -0.48px;}

.changePw-wrap .accountTab{margin-bottom: 32px;}
.changePw-wrap .accountTab ul{display: flex; justify-content: space-between; background-color: #F5F5F5; border: 1px solid #ddd; border-radius: 10px;}
.changePw-wrap .accountTab ul li{width: 33%; text-align: center; list-style: none; background-color: #F5F5F5; color: #999;  font-size: 16px; letter-spacing: -0.48px; font-weight: 600; line-height: 60px; height: 60px;}
.changePw-wrap .accountTab ul li.active{border: 1px solid #007CC0; background-color: #fff; color: #007CC0; border-radius: 10px;   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.changePw-wrap .accountTab ul li a{text-decoration: none; display: block;}
.changePw-wrap .accountTab ul li:first-of-type{ border-top-left-radius: 10px;  border-bottom-left-radius: 10px; border-right: 1px solid #ddd;}
.changePw-wrap .accountTab ul li:last-of-type{ border-top-right-radius: 10px;  border-bottom-right-radius: 10px;}

.changePw-wrap .pw-form legend{margin-bottom:12px; font-size: 18px; font-weight: 600; line-height: 1.4; letter-spacing: 0.54px; color: #222;}
.changePw-wrap .pw-form .input-box{display: flex; justify-content: space-between; gap: 40px; align-items: center;}
.changePw-wrap .pw-form .input-box:first-of-type{border-top: 1px solid #666; padding-top: 20px; margin-bottom: 12px;}
.changePw-wrap .pw-form .input-box:nth-of-type(2){margin-bottom: 20px;}
.changePw-wrap .pw-form .input-box label{color: #434343; width: 105px; flex-shrink: 0; font-size: 15px; font-weight: 500; line-height: 1.4; letter-spacing: -0.45px;}
.changePw-wrap .pw-form .input-box label:after{content: "*"; color: #3C83F6; font-size: 15px; vertical-align: top;}
.changePw-wrap .pw-form .input-box input{width: calc(100% - 105px); padding: 15px 12px; width: 100%; box-sizing: border-box; border: 1px solid #ebebeb; border-radius: 6px; line-height: 50px; height: 50px;}
.changePw-wrap .pw-form .input-box input::placeholder{color: #999; font-size: 14px; letter-spacing: -0.42px; line-height: 1.4;}

.changePw-wrap .pw-form .noticeForPw{margin-bottom: 40px; padding-top: 12px; box-sizing: border-box; border-top: 1px solid #ddd;}
.changePw-wrap .pw-form .noticeForPw strong{display: block; margin-bottom: 4px; font-size: 15px; letter-spacing: 0.42px; font-weight: 600; line-height: 1.4; color: #222;}
.changePw-wrap .pw-form .noticeForPw ul li{list-style: none; font-size: 15px; line-height: 1.4; letter-spacing: 0.42px; font-weight: 400; color: #434343;} 
.changePw-wrap .pw-form .btn{font-size: 18px; letter-spacing: -0.54px; font-weight: 700; border-radius: 6px; width: 100%; color: #fff; line-height: 48px; height: 48px; text-align: center; border: none; background: linear-gradient(135deg, #2A6DF4 -10%, #9952E0 110%);}