.changePw-wrap{width: 700px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.changePw-wrap .changePw-box{padding: 40px 30px 30px; box-sizing: border-box; background: #fff; border-radius: 10px;}

.changePw-wrap .titleBox{margin-bottom: 32px; text-align: center;}
.changePw-wrap .titleBox div{margin-bottom: 20px;}
.changePw-wrap .titleBox div img {max-width: 48px; width: 100%;}
.changePw-wrap .titleBox strong{color: #222; font-size: 32px; font-weight: 700; line-height: 1.4; letter-spacing: -0.96px; display: block; margin-bottom: 4px;}
.changePw-wrap .titleBox span{display: block; font-weight: 400; font-size: 16px; line-height: 1.4; color: #434343; letter-spacing: -0.48px;}

.changePw-wrap .accountTab{margin-bottom: 32px;}
.changePw-wrap .accountTab ul{display: flex; justify-content: space-between ;}
.changePw-wrap .accountTab ul li{width: 33%; text-align: center; list-style: none; background-color: #F5F5F5; border: 1px solid #ddd;color: #999;  font-size: 16px; letter-spacing: -0.48px; font-weight: 600; line-height: 60px; height: 60px;}
.changePw-wrap .accountTab ul li.active{border: 1px solid #007CC0; background-color: #fff; color: #007CC0; border-radius: 10px;   box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.changePw-wrap .accountTab ul li a{text-decoration: none;}
.changePw-wrap .accountTab ul li:first-of-type{ border-top-left-radius: 10px;  border-bottom-left-radius: 10px;}
.changePw-wrap .accountTab ul li:last-of-type{ border-top-right-radius: 10px;  border-bottom-right-radius: 10px;}

.changePw-wrap .pw-form legend{padding-bottom:12px ; border-bottom: 1px solid #666; font-size: 18px; font-weight: 600; line-height: 1.4; letter-spacing: 0.54px; color: #222;}

