.roboto{font-family: 'Roboto Mono';}

.btn{cursor: pointer;}
.btn.gray{background-color: #F9F9FA; border: 1px solid #E5E7EB; color: #434343; box-sizing: border-box;}

header ul .btn.gray{padding: 12px 16px; border-radius: 8px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);}
header ol .btn.gray{padding: 4px 20px 4px 36px; border-radius: 4px; background-position: 16px center; background-repeat: no-repeat; background-size: 14px;}
header ol li:nth-of-type(1) .btn.gray{background-image: url('../images/woori_icon_header01.svg');}
header ol li:nth-of-type(2) .btn.gray{background-image: url('../images/woori_icon_header02.svg');}
header ol li:nth-of-type(3) .btn.gray{background-image: url('../images/woori_icon_header03.svg');}
header ol li:nth-of-type(4) .btn.gray{background-image: url('../images/woori_icon_header03.svg');}

.chip{display: block; text-align: center; text-decoration: none; padding: 6px 16px; border-radius: 30px;}
.chip.blue{font-size: 16px; font-weight: 600; line-height: 140%;}
.chip.blue:not(.active){color: #222;}
.chip.blue.active{background-color: #4C6ADF; color: #FFF;}
.chip.purple{background-color: #673AB6; color: #FFF;}
.chip.gray{background-color: #666666; color: #FFF; font-size: 13px; font-weight: 700;}

button.state{line-height: normal; cursor: pointer;}
.state{display: inline-block; font-size: 13px; font-weight: 600; width: 64px; height: 26px; line-height: 26px; border-radius: 4px; border: 1px solid var(--border-color); background-color: var(--background-color); color: var(--text-color);}
.state.pink{--border-color: #FFD9E4; --background-color: #FFECF1; --text-color: #FB0E55;}
.state.green{--border-color: #CAEFD8; --background-color: #ECF8EB; --text-color: #00A13A;}
.state.blue{--border-color: #D5E4F9; --background-color: #E9F3FF; --text-color: #1466D6;}
.state.indigo{--border-color: #EAEDF4; --background-color: #F4F7F9; --text-color: #373F57;}
.state.white{--border-color: #EAEDF4; --background-color: #FFFFFF; --text-color: #373F57;}

.box{background-color: #FFF; box-shadow: 0 1px 40px rgba(0, 0, 0,  0.05); border-radius: 10px; box-sizing: border-box;}
[class*='Container']:not(.contentContainer) .box{padding: 30px;}
.contentContainer .box{padding: 24px;}

.layer:not(.active){display: none;}