.roboto{font-family: 'Roboto Mono';}

.btn{cursor: pointer;}
.btn.gray{background-color: #F9F9FA; border: 1px solid #E5E7EB; color: #434343; box-sizing: border-box;}

header ul .btn.gray{padding: 12px 16px; border-radius: 8px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);}
header ol .btn.gray{padding: 4px 20px 4px 36px; border-radius: 4px; background-position: 16px center; background-repeat: no-repeat; background-size: 14px;}
header ol li:nth-of-type(1) .btn.gray{background-image: url('../images/woori_icon_header01.svg');}
header ol li:nth-of-type(2) .btn.gray{background-image: url('../images/woori_icon_header02.svg');}
header ol li:nth-of-type(3) .btn.gray{background-image: url('../images/woori_icon_header03.svg');}
header ol li:nth-of-type(4) .btn.gray{background-image: url('../images/woori_icon_header03.svg');}

.chip{display: block; text-align: center; text-decoration: none; padding: 6px 16px; border-radius: 30px;}
.chip.blue{font-size: 16px; font-weight: 600; line-height: 140%;}
.chip.blue:not(.active){color: #222;}
.chip.blue.active{background-color: #4C6ADF; color: #FFF;}
.chip.purple{background-color: #673AB6; color: #FFF;}

.box{background-color: #FFF; box-shadow: 0 1px 40px rgba(0, 0, 0,  0.05); border-radius: 10px; padding: 24px; box-sizing: border-box;}