.contentContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.contentContainer h3{font-size: 18px; font-weight: 600; line-height: 140%; color: #222; margin-bottom: 16px;}
.contentContainer h3.bul{padding-left: 28px; background-repeat: no-repeat; background-position: left center;}
.contentContainer h4{font-size: 14px; font-weight: 500; line-height: 140%; color: #434343; margin-bottom: 8px;}

.history.box h3.clock{background-image: url('../images/woori_icon_logHistory.svg');}

.contentContainer{display: grid; gap: 20px; grid-template-columns: 33.333% 66.666%; grid-template-rows: auto;}
.server.box{grid-column: 1; grid-row: 1;}
.system.box{grid-column: 1; grid-row: 2 / 3;}
.window.box{grid-column: 2 / 3; grid-row: 1 / 3;}
.history.box{grid-column: 1 / 3; grid-row: 3;}

.server.box{position: relative;}
.server.box button{font-size: 16px; font-weight: 500; line-height: 140%; color: #222; padding: 12px 24px; background-color: rgba(243, 244, 246, 0.5); border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; width: 100%; text-align: left; cursor: pointer; position: relative;}
.server.box button::after{content: ''; display: block; width: 16px; height: 16px; background-image: url('../images/woori_icon_arrow_select.svg'); position: absolute; right: 24px; top: 16px; transition: transform ease-out .4s;}
.server.box button.active::after{transform: rotate(180deg);}
.server.box button:not(.active)+ol{display: none;}
.server.box button.active+ol{display: block;}
.server.box ol{position: absolute; width: calc(100% - 48px); transform: translate(0, 8px); padding: 6px 24px; background-color: #FFF; border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; height: 200px; overflow-y: scroll; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.server.box ol::-webkit-scrollbar {display: none;}
.server.box ol li{display: block; font-size: 16px; font-weight: 400; line-height: 140%; color: #434343; padding-block: 12px; cursor: pointer;}
.server.box ol li:not(:last-of-type){border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.server.box ol li.active{text-decoration: underline; font-weight: 600; color: #007CC0;}

.system.box ul{display: flex; gap: 12px; flex-wrap: wrap;}
.system.box ul li{display: block; border: 1px solid #EBEBEB; background-color: #FFF; flex: 1; border-radius: 12px; padding: 24px; box-sizing: border-box;}
.system.box ul li div{width: 40px; height: 40px; border-radius: 12px; text-indent: -9999px; margin-bottom: 16px; background-repeat: no-repeat; background-position: center;}
.system.box ul li:nth-of-type(1) div{background-color: rgba(60, 131, 246, 0.1); background-image: url('../images/woori_icon_system_blue.svg');}
.system.box ul li:nth-of-type(2) div{background-color: rgba(103, 58, 182, 0.1); background-image: url('../images/woori_icon_system_purple.svg');}
.system.box ul li:nth-of-type(3) div{background-color: rgba(22, 162, 73, 0.1); background-image: url('../images/woori_icon_system_green.svg');}
.system.box ul li p{font-size: 14px; font-weight: 400; line-height: 140%; color: #6B7280;}
.system.box ul li span{display: block;}
.system.box ul li span b{font-size: 28px; font-weight: 700; line-height: 140%; color: #282C34; display: inline-block; margin-right: 4px;}

.window.box ul{display: flex; gap: 10px; margin-bottom: 36px; flex-wrap: wrap;}
.window.box ul li{display: block; border: 2px solid #F3F4F6; background-color: rgba(243, 244, 246, 0.3); flex: 1; border-radius: 12px; padding: 45px 20px; transition: box-shadow ease-out .4s; position: relative; cursor: pointer; min-width: 80px;}
.window.box ul li.active{background-color: #FFF; border-color: #0F8CD1; box-shadow: 0 0 20px rgba(60, 131, 246, 0.3);}
.window.box ul li::after{content: ''; display: block; width: 12px; height: 12px; border-radius: 50%; position: absolute; right: 12px; top: 12px; background: linear-gradient(135deg, #3C83F6 0%, #6DA2F8 100%); transition: clip-path ease-out .2s; clip-path: circle(0% at 50% 50%);}
.window.box ul li.active::after{clip-path: circle(50.0% at 50% 50%);}
.window.box ul li div{width: 50px; height: 50px; border-radius: 12px; text-indent: -9999px; margin-bottom: 16px; background-repeat: no-repeat; background-position: center; background-color: #F3F4F6;}
.window.box ul li:nth-of-type(1) div{background-image: url('../images/woori_icon_display01.svg');}
.window.box ul li:nth-of-type(2) div{background-image: url('../images/woori_icon_display02.svg');}
.window.box ul li:nth-of-type(3) div{background-image: url('../images/woori_icon_display03.svg');}
.window.box ul li:nth-of-type(4) div{background-image: url('../images/woori_icon_display04.svg');}
.window.box ul li.active:nth-of-type(1) div{background-image: url('../images/woori_icon_display01_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(2) div{background-image: url('../images/woori_icon_display02_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(3) div{background-image: url('../images/woori_icon_display03_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(4) div{background-image: url('../images/woori_icon_display04_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li p{font-size: 16px; font-weight: 500; line-height: 140%; color: #222; margin-bottom: 4px;}
.window.box ul li.active p{font-weight: 700; color: #3C83F6;}
.window.box ul li small{font-size: 13px; font-weight: 400; line-height: 140%; color: #666;}
.window.box div.buttonBox{display: flex; gap: 10px; flex-wrap: wrap;}
.window.box div.buttonBox button{flex: 1; border-radius: 8px; cursor: pointer; height: 70px; text-align: center; min-width: 250px;}
.window.box div.buttonBox button:first-of-type{border: 1px solid #CDE0FF; background-color: #EBF3FE;}
.window.box div.buttonBox button:last-of-type{border: none; background: linear-gradient(135deg, #2A6DF4 -10%, #9952E0 110%);}
.window.box div.buttonBox button div{display: inline-block; position: relative; padding-left: 52px;}
.window.box div.buttonBox button div::before{content: ''; display: block; width: 40px; height: 40px; border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translate(0, -50%); background-repeat: no-repeat; background-position: center;}
.window.box div.buttonBox button:first-of-type div:before{background-color: rgba(60, 131, 246, 0.1); background-image: url('../images/woori_icon_systemState.svg');}
.window.box div.buttonBox button:last-of-type div:before{background-color: rgba(255, 255, 255, 0.2); background-image: url('../images/woori_icon_systemContact.svg');}
.window.box div.buttonBox button *{display: block; text-align: left;}
.window.box div.buttonBox button span.bul::after{content: ''; display: inline-block; width: 12px; height: 12px; background-color: #B5BCC6; border-radius: 50%; margin-left: 6px;}
.window.box div.buttonBox button:first-of-type span{font-size: 16px; font-weight: 600; line-height: 140%; color: #282C34;}
.window.box div.buttonBox button:first-of-type small{font-size: 12px; font-weight: 600; line-height: 140%; color: #6B7280;}
.window.box div.buttonBox button:last-of-type span{font-size: 16px; font-weight: 700; line-height: 140%; color: #FFF;}
.window.box div.buttonBox button:last-of-type small{font-size: 12px; font-weight: 700; line-height: 140%; color: rgba(255, 255, 255, 0.8);}

.history.box div{border-radius: 12px; border: 1px solid #E5E7EB;}
.history.box div table{width: 100%; text-align: center;}
.history.box div table thead tr{background-color: rgba(243, 244, 246, 0.5); border-bottom: 1px solid #E5E7EB;}
.history.box div table thead th{font-size: 14px; line-height: 140%; color: #222; padding-block: 12px;}
.history.box div table thead th:not(accWeight){font-weight: 600;}
.history.box div table thead th.accWeight{font-weight: 700;}
.history.box div table tbody td:not(.chip){font-size: 14px; font-weight: 400; padding-block: 10px; color: #222;}
.history.box div table tbody td.chip{display: inline-block; font-size: 12px; font-weight: 700;}
.history.box div table tbody td.bul{padding-left: 16px; display: inline-block; position: relative;}
.history.box div table tbody td.bul::before{content: ''; display: block; width: 8px; height: 8px; background-color: #16A249; border-radius: 4px; position: absolute; left: 0; top: 14px;}
.history.box div table tbody tr:not(:last-of-type){border-bottom: 1px solid #E5E7EB;}

.listContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.detailContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.applyContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.notiContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.qnaContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}

.tabList{background-color: #FFF; display: flex; justify-content: center; width: 438px; height: 46px; margin: 0 auto; border-radius: 50px; margin-bottom: 28px;}
.tabList li{display: block; flex: 1; text-align: center; border-radius: 50px;}
.tabList li:not(.active){font-weight: 500; color: #999;}
.tabList li.active{background: linear-gradient(135deg, #2A6DF4, #9952E0); box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); font-weight: 800; color: #FFF;}
.tabList li a{display: block; text-decoration: none; font-size: 16px; color: inherit; line-height: 46px;}

table{width: 100%;}
.tableWrap{border-radius: 12px; border: 1px solid #E5E7EB; overflow: hidden;}
.listTable tr:has(td){cursor: pointer;}
.listTable td:not(.alignLeft){text-align: center;}
.listTable td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tablePager{position: relative; padding-inline: 60px; width: fit-content; margin: 24px auto 0;}
.tablePager div{position: absolute;}
.tablePager div.leftBtnBox{left: 0;}
.tablePager div.rightBtnBox{right: 0;}
.tablePager div a{display: inline-block; text-indent: -9999px; width: 12px; height: 30px; background-repeat: no-repeat; background-position: center;}
.tablePager div.leftBtnBox a:first-of-type{background-image: url('../images/woori_icon_pager_first.svg');}
.tablePager div.leftBtnBox a:last-of-type{background-image: url('../images/woori_icon_pager_prev.svg'); margin-left: 8px;}
.tablePager div.rightBtnBox a:first-of-type{background-image: url('../images/woori_icon_pager_next.svg'); margin-right: 8px;}
.tablePager div.rightBtnBox a:last-of-type{background-image: url('../images/woori_icon_pager_last.svg');}
.tablePager ol{display: flex; justify-content: center;}
.tablePager ol li{display: block; width: 30px; height: 30px; border-radius: 50%; text-align: center; line-height: 30px;}
.tablePager ol li:not(.active){font-weight: 500; color: #434343;}
.tablePager ol li.active{font-weight: 700; color: #3C83F6; background-color: rgba(60, 131, 246, 0.1);}
.tablePager ol li a{display: block; text-decoration: none; font-size: 13px; color: inherit;}

.detailWrap{display: flex; gap: 20px;}
.detailWrap .payerInfo.box{max-width: 380px;}
.detailWrap .proposerInfo.box{flex: 1;}

.qnaContainer tr,
.listContainer tr,
.detailContainer tr,
.applyContainer tr{height: 50px; line-height: 50px;}

.qnaContainer th,
.listContainer th,
.detailContainer th,
.applyContainer th{font-size: 15px; font-weight: 500; color: #222; background-color: rgba(243, 244, 246, 0.5); padding-inline: 24px;}

.qnaContainer td,
.listContainer td,
.detailContainer td:not(.removeGutter),
.applyContainer td{font-size: 15px; font-weight: 400; color: #434343; padding-inline: 24px;}

.qnaContainer table th:not(:first-of-type),
.qnaContainer table td:not(:first-of-type),
.listContainer table th:not(:first-of-type),
.listContainer table td:not(:first-of-type){border-left: 1px solid #E5E7EB;}
/* .detailContainer table th:not(:first-of-type), */
.detailContainer table td:first-of-type{border-left: 1px solid #E5E7EB;}
.qnaContainer table th,
.qnaContainer table tbody tr:not(:last-of-type) td,
.listContainer table th,
.listContainer table tbody tr:not(:last-of-type) td,
.detailContainer table tr:not(:last-of-type) td{border-bottom: 1px solid #E5E7EB;}

.detailContainer table tr:not(:first-of-type) th{border-top: 1px solid #E5E7EB;}
.applyContainer table tr:not(:first-of-type){border-top: 1px solid #E5E7EB;}

/* .detailContainer table th, */
/* .detailContainer table td, */
/* .applyContainer table.hori th, */
.applyContainer table.hori>tbody>tr>td{border-left: 1px solid #E5E7EB;}

/* table.verti{border-radius: 12px; border: 1px solid #E5E7EB;} */
table.verti thead tr{background-color: rgba(243, 244, 246, 0.5); border-bottom: 1px solid #E5E7EB;}
table.verti tbody tr:not(:last-of-type){border-bottom: 1px solid #E5E7EB;}
table.verti tbody tr td{text-align: center;}

.list.filter{display: flex; gap: 6px; margin-bottom: 16px;}
.list.filter .searchBox{margin-left: auto;}
.searchBox{position: relative; height: 40px; display: inline-block;}
.searchBox form{height: inherit;}
.searchBox input[type="search"]{ padding-inline: 16px 36px; font-size: 14px; font-weight: 400; color: #434343; border: 1px solid #EBEBEB; width: 260px; height: 40px; border-radius: 50px; vertical-align: top;}
.searchBox input[type="search"]::placeholder{color: #999;}
.searchBox button[type="submit"]{text-indent: -9999px; position: absolute; right: 16px; top: 12px; width: 16px; height: 16px; background-color: transparent; background-image: url('../images/woori_icon_search.svg'); background-repeat: no-repeat; background-position: center; border: none; cursor: pointer;}

.listContainer .selectWrap{width: 120px;}
.applyContainer .selectWrap{width: 160px;}
.qnaContainer .selectWrap{width: 120px;}

.selectWrap{position: relative; height: 40px;}
.selectWrap button{height: 40px; font-size: 14px; font-weight: 400; color: #222; padding: 0 12px; background-color: #FFF; border-radius: 10px; box-sizing: border-box; width: 100%; text-align: left; cursor: pointer; position: relative;}
.selectWrap button:not(.active){border: 1px solid #EBEBEB;}
.selectWrap button.active{border: 2px solid #007CC0;}
.selectWrap button::after{content: ''; display: block; width: 16px; height: 16px; background-image: url('../images/woori_icon_arrow_select.svg'); position: absolute; right: 12px; top: 10px; transition: transform ease-out .4s;}
.selectWrap button.active::after{transform: rotate(180deg);}
.selectWrap button:not(.active)+ul{display: none;}
.selectWrap button.active+ul{display: block;}

.selectWrap ul{position: absolute; z-index: 1; width: 100%; transform: translate(0, 8px); padding: 6px 12px; background-color: #FFF; border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; height: 200px; overflow-y: scroll; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.selectWrap ul::-webkit-scrollbar {display: none;}
.selectWrap ul li{display: block; font-size: 14px; font-weight: 400; line-height: 140%; color: #434343; padding-block: 12px; cursor: pointer;}
.selectWrap ul li:not(:last-of-type){border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.selectWrap ul li.active{text-decoration: underline; font-weight: 600; color: #007CC0;}

.detailContainer h3{margin-bottom: 16px;}
.applyContainer h3{margin-bottom: 16px;}
.notiContainer h3:has(span){margin-bottom: 20px;}

[class*="Container"] h3{font-size: 18px; font-weight: 600; line-height: 140%; color: #222;}
[class*="Container"] h3.bul{padding-left: 28px; background-repeat: no-repeat; background-position: left center;}
[class*="Container"] h3.clock{background-image: url('../images/woori_icon_logHistory.svg');}
[class*="Container"] h3.payer{background-image: url('../images/woori_icon_payer.svg');}
[class*="Container"] h3.proposer{background-image: url('../images/woori_icon_proposer.svg');}
[class*="Container"] h3.user{background-image: url('../images/woori_icon_user.svg');}
[class*="Container"] h3.notice{background-image: url('../images/woori_icon_noti.svg');}
[class*="Container"] h3.qna{background-image: url('../images/woori_icon_qna.svg');}

.detailContainer table th{min-width: 120px; box-sizing: border-box;}
.detailContainer table input[type="radio"]{display: none;}
.detailContainer table input[type="radio"]:checked+label{background-color: rgba(243, 244, 246, 0.5); border: 1px solid #007CC0; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);}
.detailContainer table label{display: block; text-align: center; padding-inline: 24px; border: 1px solid transparent; border-radius: 10px; font-size: 15px; font-weight: 400; color: #434343;}

.buttonBox button{border-radius: 8px; font-size: 16px; font-weight: 600; min-width: 130px; height: 46px; padding: 0; cursor: pointer;}
.buttonBox button.btnCancle{border: 1px solid #DDD; background-color: #FFF; color: #222;}
.buttonBox button.btnSubmit{border: 1px solid transparent; background-color: #121212; color: #FFF;}
.buttonBox.right{margin-top: 12px; display: flex; justify-content: flex-end; gap: 6px;}

.detailContainer .payerInfo{display: flex; flex-direction: column;}
.detailContainer .payerInfo .tableWrap{flex: 1;}
.detailContainer .payerInfo table{height: 100%;}
.detailContainer .payerInfo table tr:last-of-type{height: auto;}
.detailContainer .proposerInfo table{height: 400px;}
.detailContainer .proposerInfo table tr.heightFill{height: auto;}
.detailContainer .proposerInfo table tr.heightFill th{vertical-align: middle; padding-block: 14px;}
.detailContainer .proposerInfo table tr.heightFill td{vertical-align: middle; padding-block: 14px; line-height: 150%;}

.applyContainer .select.box{margin-bottom: 20px;}
.applyContainer table.verti tr th{vertical-align: middle; min-width: 80px;}
.applyContainer table.verti tr td{vertical-align: middle;}
.applyContainer table.verti input[type="radio"]{display: none;}
.applyContainer table.verti input[type="radio"]:checked+label{background-image: url('../images/woori_radio_on.svg');}
.applyContainer table.verti label{background-image: url('../images/woori_radio_off.svg'); background-repeat: no-repeat; background-position: center; width: 16px; height: 16px; display: inline-block; text-indent: -9999px; vertical-align: middle; cursor: pointer;}
.applyContainer table.hori>tbody>tr>th{min-width: 160px; box-sizing: border-box;}

.applyContainer .info.box ol li{display: block;}
.applyContainer .info.box ul li{display: block;}
.applyContainer .info.box ul:not(.selectList)>li:not(:last-of-type){margin-bottom: 40px;}
.applyContainer .info.box table.innerGutter>tbody>tr>td{padding-block: 24px;}
.innerGutter{padding-block: 24px;}
.applyContainer .info.box td div.tableWrap{height: 200px; overflow: auto;}
.applyContainer .info.box td div.tableWrap thead{position: sticky; top: 0;}
.applyContainer .info.box td div.tableWrap thead th{background-color: #F9FAFB;}

.applyContainer .info.box td ol{display: flex; gap: 60px;}
.applyContainer .info.box td ol li{height: auto;}
.applyContainer .info.box td ol li input[type="radio"]{display: none;}
.applyContainer .info.box td ol li input[type="radio"]:checked+label{background-image: url('../images/woori_radio_on.svg');}
.applyContainer .info.box td ol li label{padding-left: 24px; background-image: url('../images/woori_radio_off.svg'); background-position: left center; background-repeat: no-repeat; cursor: pointer;}

.applyContainer tr:has(textarea) th{vertical-align: middle;}
.applyContainer textarea{display: block; width: 100%; min-height: 150px; border-radius: 12px; border: 1px solid #EBEBEB; padding: 16px; font-size: 15px; font-weight: 400; color: #434343; box-sizing: border-box;}
.applyContainer textarea::placeholder{color: #999;}
.applyContainer textarea:focus{outline: none;}

.applyContainer tr.heightFill th{vertical-align: middle;}

.applyContainer td.innerSelect{vertical-align: middle; padding-block: 15px;}
.applyContainer td.innerSelect div button{vertical-align: top;}

.applyContainer td.innerGutter div{min-height: 150px; border: 1px solid #007CC0; border-radius: 12px; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); padding: 16px; line-height: 140%;}

.notiContainer .box div table tbody td.chip{display: inline-block; font-size: 12px; font-weight: 700;}

.notiContainer td:not(.alignLeft){text-align: center;}
.notiContainer td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notiContainer td.alignLeft{padding-inline: 24px;}
.notiContainer table tbody{border-top: 1px solid #666;}
.notiContainer table tr{height: 70px; cursor: pointer;}
.notiContainer table tr{border-bottom: 1px solid #E5E7EB;}
.notiContainer table tr *{vertical-align: middle;}
.notiContainer table tr td span{padding: 7px 14px; border-radius: 20px; background-color: #666666; color: #FFF; font-size: 13px; font-weight: 700;}
.notiContainer .buttonBox a.movePrev{display: block; width: 112px; padding-inline: 40px 20px; box-sizing: border-box; line-height: 44px; background-color: #FFF; border: 1px solid #DDD; text-align: center; text-decoration: none; font-size: 15px; font-weight: 700; color: #434343; border-radius: 8px; background-image: url('../images/woori_icon_prev.svg'); background-repeat: no-repeat; background-position: 32px center;}
.notiContainer .buttonBox a.moveHome{display: block; width: 112px; padding-inline: 40px 20px; box-sizing: border-box; line-height: 44px; background-color: #007CC0; text-align: center; text-decoration: none; font-size: 15px; font-weight: 700; color: #FFF; border-radius: 8px; background-image: url('../images/woori_icon_home.svg'); background-repeat: no-repeat; background-position: 20px center;}

.notiContainer h3 span{font-size: 14px; font-weight: 500; color: #666; vertical-align: middle; margin-left: 4px;}
.notiContainer .detailBox{border-top: 1px solid #666; padding-top: 32px;}
.detailBox h4{font-size: 24px; font-weight: 600; line-height: 140%; color: #222; margin-bottom: 12px;}
.applyContainer .detailBox h4{margin-bottom: 32px;}
.detailBox h4+div{font-size: 16px; font-weight: 500; line-height: 140%; color: #666; margin-bottom: 32px;}
.detailBox h4+div span{font-weight: 400; color: #999; margin-left: 8px;}
.detailBox p{font-size: 16px; font-weight: 400; line-height: 140%; color: #434343; margin-bottom: 60px;}
.notiContainer .detailBox p+div{border: 1px dashed #E5E7EB; border-radius: 10px; background-color: rgba(243, 244, 246, 0.5); padding: 20px 24px;}
.notiContainer .detailBox p+div ul li{display: block; padding-left: 28px; background-image: url('../images/woori_icon_file.svg'); background-position: left center; background-repeat: no-repeat;}
.notiContainer .detailBox p+div ul li:not(:last-of-type){margin-bottom: 12px;}
.notiContainer .detailBox p+div ul li a{text-decoration: none; display: block; font-size: 14px; font-weight: 400; line-height: 140%; color: #434343;}

.notiContainer .list.filter{align-items: center;}
.qnaContainer .list.filter{align-items: center;}
.qnaContainer .searchBox{display: flex; align-items: center; gap: 12px;}
.qnaContainer h3{line-height: 36px;}
.qnaContainer h3 button{font-size: 14px; font-weight: 600; line-height: 140%; color: #3C83F6; background-color: #FFF; border: 1px solid #3C83F6; box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06); border-radius: 20px; line-height: 36px; padding: 0 16px 0 36px; background-image: url('../images/woori_icon_write.svg'); background-repeat: no-repeat; background-position: 16px center; box-sizing: border-box; margin-left: 20px; cursor: pointer;}

.qnaTable{margin-bottom: 32px;}