.contentContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.contentContainer h3{font-size: 18px; font-weight: 600; line-height: 140%; color: #222; margin-bottom: 16px;}
.contentContainer h3.bul{padding-left: 28px; background-repeat: no-repeat; background-position: left center;}
.contentContainer h4{font-size: 14px; font-weight: 500; line-height: 140%; color: #434343; margin-bottom: 8px;}

.history.box h3.clock{background-image: url('../images/woori_icon_logHistory.svg');}

.contentContainer{display: grid; gap: 20px; grid-template-columns: 33.333% 66.666%; grid-template-rows: auto;}
.server.box{grid-column: 1; grid-row: 1;}
.system.box{grid-column: 1; grid-row: 2 / 3;}
.window.box{grid-column: 2 / 3; grid-row: 1 / 3;}
.history.box{grid-column: 1 / 3; grid-row: 3;}

.server.box{position: relative;}
.server.box button{font-size: 16px; font-weight: 500; line-height: 140%; color: #222; padding: 12px 24px; background-color: rgba(243, 244, 246, 0.5); border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; width: 100%; text-align: left; cursor: pointer; position: relative;}
.server.box button::after{content: ''; display: block; width: 16px; height: 16px; background-image: url('../images/woori_icon_arrow_select.svg'); position: absolute; right: 24px; top: 16px; transition: transform ease-out .4s;}
.server.box button.active::after{transform: rotate(180deg);}
.server.box button:not(.active)+ol{display: none;}
.server.box button.active+ol{display: block;}
.server.box ol{position: absolute; width: calc(100% - 48px); transform: translate(0, 8px); padding: 6px 24px; background-color: #FFF; border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; height: 200px; overflow-y: scroll; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.server.box ol::-webkit-scrollbar {display: none;}
.server.box ol li{display: block; font-size: 16px; font-weight: 400; line-height: 140%; color: #434343; padding-block: 12px; cursor: pointer;}
.server.box ol li:not(:last-of-type){border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.server.box ol li.active{text-decoration: underline; font-weight: 600; color: #007CC0;}

.system.box ul{display: flex; gap: 12px; flex-wrap: wrap;}
.system.box ul li{display: block; border: 1px solid #EBEBEB; background-color: #FFF; flex: 1; border-radius: 12px; padding: 24px; box-sizing: border-box;}
.system.box ul li div{width: 40px; height: 40px; border-radius: 12px; text-indent: -9999px; margin-bottom: 16px; background-repeat: no-repeat; background-position: center;}
.system.box ul li:nth-of-type(1) div{background-color: rgba(60, 131, 246, 0.1); background-image: url('../images/woori_icon_system_blue.svg');}
.system.box ul li:nth-of-type(2) div{background-color: rgba(103, 58, 182, 0.1); background-image: url('../images/woori_icon_system_purple.svg');}
.system.box ul li:nth-of-type(3) div{background-color: rgba(22, 162, 73, 0.1); background-image: url('../images/woori_icon_system_green.svg');}
.system.box ul li p{font-size: 14px; font-weight: 400; line-height: 140%; color: #6B7280;}
.system.box ul li span{display: block;}
.system.box ul li span b{font-size: 28px; font-weight: 700; line-height: 140%; color: #282C34; display: inline-block; margin-right: 4px;}

.window.box ul{display: flex; gap: 10px; margin-bottom: 36px; flex-wrap: wrap;}
.window.box ul li{display: block; border: 2px solid #F3F4F6; background-color: rgba(243, 244, 246, 0.3); flex: 1; border-radius: 12px; padding: 45px 20px; transition: box-shadow ease-out .4s; position: relative; cursor: pointer; min-width: 80px;}
.window.box ul li.active{background-color: #FFF; border-color: #0F8CD1; box-shadow: 0 0 20px rgba(60, 131, 246, 0.3);}
.window.box ul li::after{content: ''; display: block; width: 12px; height: 12px; border-radius: 50%; position: absolute; right: 12px; top: 12px; background: linear-gradient(135deg, #3C83F6 0%, #6DA2F8 100%); transition: clip-path ease-out .2s; clip-path: circle(0% at 50% 50%);}
.window.box ul li.active::after{clip-path: circle(50.0% at 50% 50%);}
.window.box ul li div{width: 50px; height: 50px; border-radius: 12px; text-indent: -9999px; margin-bottom: 16px; background-repeat: no-repeat; background-position: center; background-color: #F3F4F6;}
.window.box ul li:nth-of-type(1) div{background-image: url('../images/woori_icon_display01.svg');}
.window.box ul li:nth-of-type(2) div{background-image: url('../images/woori_icon_display02.svg');}
.window.box ul li:nth-of-type(3) div{background-image: url('../images/woori_icon_display03.svg');}
.window.box ul li:nth-of-type(4) div{background-image: url('../images/woori_icon_display04.svg');}
.window.box ul li.active:nth-of-type(1) div{background-image: url('../images/woori_icon_display01_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(2) div{background-image: url('../images/woori_icon_display02_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(3) div{background-image: url('../images/woori_icon_display03_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li.active:nth-of-type(4) div{background-image: url('../images/woori_icon_display04_active.svg'), linear-gradient(135deg, #007CC0 0%, #6DA2F8 100%);}
.window.box ul li p{font-size: 16px; font-weight: 500; line-height: 140%; color: #222; margin-bottom: 4px;}
.window.box ul li.active p{font-weight: 700; color: #3C83F6;}
.window.box ul li small{font-size: 13px; font-weight: 400; line-height: 140%; color: #666;}
.window.box div.buttonBox{display: flex; gap: 10px; flex-wrap: wrap;}
.window.box div.buttonBox button{flex: 1; border-radius: 8px; cursor: pointer; height: 70px; text-align: center; min-width: 250px;}
.window.box div.buttonBox button:first-of-type{border: 1px solid #CDE0FF; background-color: #EBF3FE;}
.window.box div.buttonBox button:last-of-type{border: none; background: linear-gradient(135deg, #2A6DF4 -10%, #9952E0 110%);}
.window.box div.buttonBox button div{display: inline-block; position: relative; padding-left: 52px;}
.window.box div.buttonBox button div::before{content: ''; display: block; width: 40px; height: 40px; border-radius: 50%; position: absolute; left: 0; top: 50%; transform: translate(0, -50%); background-repeat: no-repeat; background-position: center;}
.window.box div.buttonBox button:first-of-type div:before{background-color: rgba(60, 131, 246, 0.1); background-image: url('../images/woori_icon_systemState.svg');}
.window.box div.buttonBox button:last-of-type div:before{background-color: rgba(255, 255, 255, 0.2); background-image: url('../images/woori_icon_systemContact.svg');}
.window.box div.buttonBox button *{display: block; text-align: left;}
.window.box div.buttonBox button span.bul::after{content: ''; display: inline-block; width: 12px; height: 12px; background-color: #B5BCC6; border-radius: 50%; margin-left: 6px;}
.window.box div.buttonBox button:first-of-type span{font-size: 16px; font-weight: 600; line-height: 140%; color: #282C34;}
.window.box div.buttonBox button:first-of-type small{font-size: 12px; font-weight: 600; line-height: 140%; color: #6B7280;}
.window.box div.buttonBox button:last-of-type span{font-size: 16px; font-weight: 700; line-height: 140%; color: #FFF;}
.window.box div.buttonBox button:last-of-type small{font-size: 12px; font-weight: 700; line-height: 140%; color: rgba(255, 255, 255, 0.8);}

.history.box div{border-radius: 12px; border: 1px solid #E5E7EB;}
.history.box div table{width: 100%; text-align: center;}
.history.box div table thead tr{background-color: rgba(243, 244, 246, 0.5); border-bottom: 1px solid #E5E7EB;}
.history.box div table thead th{font-size: 14px; line-height: 140%; color: #222; padding-block: 12px;}
.history.box div table thead th:not(accWeight){font-weight: 600;}
.history.box div table thead th.accWeight{font-weight: 700;}
.history.box div table tbody td:not(.chip){font-size: 14px; font-weight: 400; padding-block: 10px; color: #222;}
.history.box div table tbody td.chip{display: inline-block; font-size: 12px; font-weight: 700;}
.history.box div table tbody td.bul{padding-left: 16px; display: inline-block; position: relative;}
.history.box div table tbody td.bul::before{content: ''; display: block; width: 8px; height: 8px; background-color: #16A249; border-radius: 4px; position: absolute; left: 0; top: 14px;}
.history.box div table tbody tr:not(:last-of-type){border-bottom: 1px solid #E5E7EB;}

.listContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.detailContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}
.applyContainer{max-width: 1350px; margin: 0 auto; padding-top: 240px; padding-inline: 4%;}

.tabList{background-color: #FFF; display: flex; justify-content: center; width: 438px; height: 46px; margin: 0 auto; border-radius: 50px; margin-bottom: 28px;}
.tabList li{display: block; flex: 1; text-align: center; border-radius: 50px;}
.tabList li:not(.active){font-weight: 500; color: #999;}
.tabList li.active{background: linear-gradient(135deg, #2A6DF4, #9952E0); box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); font-weight: 800; color: #FFF;}
.tabList li a{display: block; text-decoration: none; font-size: 16px; color: inherit; line-height: 46px;}

table{width: 100%;}
.detailWrap{display: flex; gap: 20px;}
.detailWrap .payerInfo.box{max-width: 380px;}
.detailWrap .proposerInfo.box{flex: 1;}

.listContainer tr,
.detailContainer tr,
.applyContainer tr{height: 50px; line-height: 50px;}

.listContainer th,
.detailContainer th,
.applyContainer th{font-size: 15px; font-weight: 500; color: #222; background-color: rgba(243, 244, 246, 0.5);}

.listContainer td,
.detailContainer td,
.applyContainer td{font-size: 15px; font-weight: 400; color: #434343; padding-inline: 24px;}

.listContainer table th,
.listContainer table td,
.detailContainer table th,
.detailContainer table td,
.applyContainer table.hori th,
.applyContainer table.hori td{border: 1px solid #E5E7EB;}

table.verti{border-radius: 12px; border: 1px solid #E5E7EB;}
table.verti thead tr{background-color: rgba(243, 244, 246, 0.5); border-bottom: 1px solid #E5E7EB;}
table.verti tbody tr:not(:last-of-type){border-bottom: 1px solid #E5E7EB;}

.list.filter{display: flex; gap: 6px;}
.list.filter input[type="search"]{margin-left: auto;}

.list.filter div{position: relative; width: 120px;}
.list.filter div button{font-size: 16px; font-weight: 500; line-height: 140%; color: #222; padding: 12px 24px; background-color: rgba(243, 244, 246, 0.5); border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; width: 100%; text-align: left; cursor: pointer; position: relative;}
.list.filter div button::after{content: ''; display: block; width: 16px; height: 16px; background-image: url('../images/woori_icon_arrow_select.svg'); position: absolute; right: 24px; top: 16px; transition: transform ease-out .4s;}
.list.filter div button.active::after{transform: rotate(180deg);}
.list.filter div button:not(.active)+ul{display: none;}
.list.filter div button.active+ul{display: block;}

.list.filter ul{position: absolute; width: 100%; transform: translate(0, 8px); padding: 6px 24px; background-color: #FFF; border: 2px solid #007CC0; border-radius: 10px; box-sizing: border-box; height: 200px; overflow-y: scroll; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);}
.list.filter ul::-webkit-scrollbar {display: none;}
.list.filter ul li{display: block; font-size: 16px; font-weight: 400; line-height: 140%; color: #434343; padding-block: 12px; cursor: pointer;}
.list.filter ul li:not(:last-of-type){border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.list.filter ul li.active{text-decoration: underline; font-weight: 600; color: #007CC0;}